<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <!-- <div class="page-header"><h2>About me</h2></div> -->
    <h1>About me</h1>
    <div class="panel panel-default">
      <div class="panel-body">
        <h2>Christine Wilks</h2>
        <p>Hello! I'm a British digital writer, artist and developer of playable stories. My digital fiction, Underbelly, won the New Media Writing Prize 2010 and the MaMSIE Digital Media Competition 2011. My work is published in online journals and anthologies, including the 'Electronic Literature Collection, Volume 2' and the ‘ELMCIP Anthology of European Electronic Literature’, and has been presented at international festivals, exhibitions and conferences. I also publish my work here - see my showcase.</p>

        <p>I'm currently undertaking a practice-based PhD in Digital Writing at Bath Spa University and I'm Creative Director of e-learning specialists, Make It Happen.</p>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        twitter: <a href="https://twitter.com/crissxross">@crissxross</a>
      </div>
    </div>
  </div>
</div>