<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="page-header"><h1>About me</h1></div>
    <!-- <h1>About me</h1> -->
    <div class="panel panel-default">
      <div class="panel-body">
        <h2>Christine Wilks</h2>
        <p>Hello! I'm a British digital writer, artist and developer of playable stories. My digital fiction, Underbelly, won the <a href="http://www.newmediawritingprize.co.uk/interface_2010.html">New Media Writing Prize 2010</a> and the MaMSIE Digital Media Competition 2011. My work is published in online journals and anthologies, including the <a href="http://collection.eliterature.org/2/index.html">Electronic Literature Collection, Volume 2</a> and the <a href="http://anthology.elmcip.net/">ELMCIP Anthology of European Electronic Literature</a>, and has been presented at international festivals, exhibitions and conferences. You can also see my work on my <a href="/#">showcase</a> here.</p>

        <p>I'm currently doing a practice-based <a href="http://www.writingdigital.com/phd-students/">PhD in Digital Writing at Bath Spa University</a>, which is taking up most of my time, but I'm also Creative Director of e-learning specialists, Make It Happen.</p>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        twitter: <a href="https://twitter.com/crissxross">@crissxross</a> | GitHub: <a href="https://github.com/crissxross">crissxross</a> | find me on: <a href="https://www.google.com/+ChristineWilks">Google+</a> | <a href="https://www.facebook.com/christine.wilks">Facebook</a> | <a href="http://www.pinterest.com/crissxross/">Pinterest</a> or <a href="http://crissxross.net/wilx/contact/">contact me</a> here.
      </div>
    </div>
  </div>
</div>