<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">crissxross</a>
    </div>

    <!-- Collect the nav links for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a ng-href="#">Showcase</a></li>
        <li><a ng-href="http://crissxross.net/wilx/">Blog</a></li>
        <li><a ng-href="#">About</a></li>
        <li><a ng-href="http://crissxross.net/wilx/contact/">Contact</a></li>
      </ul>
      <!-- <h3 class="text-muted">cxshowcase</h3> -->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- main content -->

<div class="jumbotron">
  <h1>crissxross showcase!</h1>
  <p class="lead">
    Playable stories, e-literature, digital art and e-poetry
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
</div>

<div class="row marketing">
  <h4>Inkubus</h4>
  <p>
    Inkubus is a first-person playable coming-of-age story, in media-rich 3D, about a contemporary teenage girl, who’s connected and clued in. But what lurks in the deepest darkest regions beyond the screen? (A collaboration with Andy Campbell)
  </p>

  <h4>Rememori</h4>
  <p>
    A degenerative memory game and playable poem that grapples with the effects of dementia on an intimate circle of characters. (Flash, sound)  </p>

    <h4>Out of Touch</h4>
  <p>In our world of perpetual connectivity, touching interfaces that keep us out of reach, we form attachments whilst remaining detached, by turns kindling and dampening emotions. A digital poem also with variations for live performance. (Flash, sound)  </p>


  <h4>Underbelly</h4>
  <p>A playable story about a woman sculptor, carving on the site of a former colliery in the north of England. As she carves, she is disturbed by a medley of voices, some from the site's dark industrial past, and the player/reader is plunged into an underworld of repressed fears and desires. (Flash, sound)</p>

  <h4>Fitting the Pattern</h4>
  <p>
    Cutting through memories, pinning down facts, stitching fabrications, unpicking the past - an interactive, animated memoir, exploring aspects of my relationship with my dressmaking mother. (Flash, sound)  </p>

    <h4>Tailspin</h4>
  <p>An old man's Tinnitus and partial deafness is a source of friction between him, his daughter and grandchildren yet he stubbornly refuses to contemplate treatment or hearing aids. His daughter is hurt and mystified by his angry reactions, but the key to his behaviour lies deep in the past. (Flash, sound)  </p>
  </div>

  <h5>Plus more...</h5>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> interactive storytelling by Christine Wilks</p>
</div>
