<!-- main content -->
<div class="jumbotron">
  <h1>crissxross showcase!</h1>
  <p class="lead">
    Playable stories, e-literature, digital art and e-poetry
  </p>
</div>
<!-- <div class="container"> -->
<!-- Showcase items -->
<div class="showcase row">
  <div ng-repeat="work in showcase" class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{work.imageUrl}}" alt="...">
      <div class="caption">
        <h3>{{work.title}}</h3>
        <p>{{work.description}}</p>
        <p>{{work.collab}} <small>{{work.tech}}, {{work.pubdate}}.</small></p>
        <p><a href="{{work.workUrl}}" target="_blank" class="btn btn-default" role="button">Play <span class="glyphicon glyphicon-play"></span></a></p>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->

<div class="well well-sm">
  <h5>Plus more... <small>(in a small well)</small></h5>
   <p>Above is the result of using ng-repeat - but, currently, without using Bootstrap rows.</p>
</div>
