<!-- main content -->
<div class="jumbotron">
  <h1>crissxross showcase!</h1>
  <p class="lead">
    Playable stories, e-literature, digital art and e-poetry
  </p>
</div>

<!-- Showcase items -->
<div class="showcase row">
  <div ng-repeat="work in showcase" class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="...">
      <div class="caption">
        <h3>{{work.title}}</h3>
        <p>{{work.description}}</p>
        <p><a href="{{work.workUrl}}" target="_blank" class="btn btn-default" role="button">Play <span class="glyphicon glyphicon-play"></span></a></p>
      </div>
    </div>
  </div>
</div>

<div class="well well-sm">
  <p>Above is the result of using ng-repeat - but, currently, without using Bootstrap rows.</p>
  </div>

<hr>

<!-- Showcase items in plain html -->
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="...">
      <div class="caption">
        <h3>Inkubus</h3>
        <p>Inkubus is a first-person playable coming-of-age story, in media-rich 3D, about a contemporary teenage girl. She’s connected and clued in but what lurks in the deepest darkest regions beyond the screen? A collaboration with <b>Andy Campbell</b> <small>(2014)</small></p>
        <p><a href="http://www.dreamingmethods.com/inkubus/" target="_blank" class="btn btn-default" role="button">Play <span class="glyphicon glyphicon-play"></span></a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="...">
      <div class="caption">
        <h3>Rememori</h3>
        <p>A degenerative memory game and playable poem that grapples with the effects of dementia on an intimate circle of characters. <small>(Flash, 2011)</small></p>
        <p><a href="#" class="btn btn-default" role="button"><span class="glyphicon glyphicon-play"></span></a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="...">
      <div class="caption">
        <h3>Out of Touch</h3>
        <p>In our world of perpetual connectivity, touching interfaces that keep us out of reach, we form attachments whilst remaining detached, by turns kindling and dampening emotions. A digital poem also with variations for live performance. <small>(Flash, 2011)</small></p>
        <p><a href="#" class="btn btn-default" role="button"><span class="glyphicon glyphicon-play"></span></a></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="...">
      <div class="caption">
        <h3>Underbelly</h3>
        <p>A playable story about a woman sculptor, carving on the site of a former colliery in the north of England. As she carves, she is disturbed by a medley of voices, some from the site's dark industrial past, and the player/reader is plunged into an underworld of repressed fears and desires. <small>(Flash, 2010)</small></p>
        <p><a href="#" class="btn btn-default" role="button">Play <span class="glyphicon glyphicon-play"></span></a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="...">
      <div class="caption">
        <h3>Fitting the Pattern</h3>
        <p>Cutting through memories, pinning down facts, stitching fabrications, unpicking the past - an interactive, animated memoir, exploring aspects of my relationship with my dressmaking mother. <small>(Flash, 2008)</small></p>
        <p><a href="#" class="btn btn-default" role="button">Play <span class="glyphicon glyphicon-play"></span></a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="...">
      <div class="caption">
        <h3>Tailspin</h3>
        <p>An old man's Tinnitus and partial deafness is a source of friction between him, his daughter and grandchildren yet he stubbornly refuses to contemplate treatment or hearing aids. His daughter is hurt and mystified by his angry reactions, but the key to his behaviour lies deep in the past. <small>(Flash, 2008)</small></p>
        <p><a href="#" class="btn btn-default" role="button">Play <span class="glyphicon glyphicon-play"></span></a></p>
      </div>
    </div>
  </div>
</div>
<!-- end of showcase items -->

<div class="well well-sm">
  <h5>Plus more... <small>(in a small well)</small></h5>
</div>
